<%= render "layouts/header" %>

<div class='a-project-div'>
	<h1 class='h1'><%= @issue.subject %></h1>
	<div class='a-project-header'>
		<p>Project: <%= @issue.project.name %></p>
		<p>Created on <%= @issue.created_at.strftime('%B %d, %Y') %> / 
			Modified <%= time_ago_in_words(@issue.updated_at) %> ago</p>
		<div class='a-project-buttons'>
			<%= button_to 'Edit Issue', edit_issue_path(@issue), method: :get %>
			<%= button_to 'Delete Issue', issue_path(@issue), { method: :delete ,
				disabled: current_user != @issue.reporter } %>
		</div>
	</div>
	<br>
	<div class='a-project-header'>
		<p>Reporter: <%= @issue.reporter.name %></p>
		<p>Assigned To: <%= @issue.assignee ? @issue.assignee.name : 'N/A' %></p>
		<p>Priority: <%= @issue.priority %></p>
		<p>Status: <%= @issue.status %></p>
		<p>Due Date: <%= @issue.due_date ? @issue.due_date.strftime('%B %d, %Y') :
			'N/A' %></p>
	</div>
	<hr>
	<p class='a-project-description paragraph'><%= @issue.description %></p>
</div>
<br>

<%= render "comments/form" %>
