<%= render "layouts/header" %>

<div class='new-project-div'>
	<h1 class='h1'><%= project.persisted? ? 'Edit Project' : 'New Project' %></h1>
	
	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
		  <p class='auth-missing new-project-missing'><%= error %></p>
		<% end %>
		<br>
	<% end %>
	
	<%= form_for project do |f| %>
		<%= f.label :name %>
		<br>
		<%= f.text_field :name %>
		<br>
		<%= f.label :status %>
		<br>
		<%= f.select :status, Project::STATUSES.map { |s| [s, s] } %>
		<br>
		<%= f.label :description %>
		<br>
		<%= f.text_area :description %>
		<br>
		<%= f.submit project.persisted? ? 'Update Project' : 'Create Project' %>
	<% end %>
	
	<%= button_to 'Cancel',
		project.persisted? ? project_path(project) : dashboard_path,
		method: :get %>
</div>
