<%= render "layouts/header" %>

<div class='a-project-div'>
	<h1 class='h1'><%= @project.name %></h1>
	<div class='a-project-header'>
		<p>Status: <%= @project.status %></p>
		<p>Created on <%= @project.created_at.strftime('%B %d, %Y') %> / 
			Modified <%= time_ago_in_words(@project.updated_at) %> ago</p>
		<div class='a-project-buttons'>
			<%= button_to 'Edit Project', edit_project_path(@project), method: :get %>
			<%= button_to 'Delete Project', project_path(@project),
				{ method: :delete, disabled: current_user != @project.creator } %>
		</div>
	</div>
	<hr>
	<p class='a-project-description paragraph'><%= @project.description %></p>
</div>
<br>
<div class='dash-projects a-project-div'>
	<hr>
	<div class='dash-projects-header'>
		<div></div>
		<h2>Issues</h2>
		<div></div>
	</div>
	<ul>
		<% @project.issues.order('updated_at desc').each do |issue| %>
			<a class='dash-project-link' href='/issues/<%= issue.id %>'>
				<%= issue.subject %>
			</a>
			<p class='dash-project-description'>
				Status: <%= issue.status %> <span class='dash-separator'>|</span> 
				Priority: <%= issue.priority %> <span class='dash-separator'>|</span> 
				Reported By: <%= User.find(issue.reporter_id).name %>
			</p>
			<hr>
		<% end %>
	</ul>
	<a class='dash-create-link dash-project-link' href='/issues/new'>
		Create New Issue
	</a>
</div>
