.auth-div {
	margin: 20px;
	font-family: sans-serif;
}

.auth-h1 {
	text-align: center;
	padding: 35px;
	font-size: 42px;
}

.auth-missing {
	color: red;
	text-align: center;
	font-size: 16px;
	line-height: 1.3;
}

.auth-div form {
	text-align: center;
}

.auth-div form input {
	padding: 10px 0;
}

.auth-div form input:last-child {
	width: 295px;
	background: #293340;
	color: white;
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	font-size: 25px;
	margin: 30px 0;
}

.auth-div form input:last-child:hover {
	background: #293340;
	filter: brightness(80%);
}

.auth-div form input:last-child:active {
	background: white;
	color: #293340;
	border: 2px solid #293340;
}

.auth-footer {
	text-align: center;
	margin-top: 30px;
}
