$animate: all 0.2s ease-in-out;

header {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-left: 35px;
	padding-right: 35px;
}

.header-background {
	background: #293340;
}

.hover-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 45px;
  .hover {
  	font-size: 40px;
  	color: white;
  	text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    transition: $animate;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 2px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.39s;
      opacity: 0;
      background-color: darken(white,5%);
    }
    &.hover-1 {
      &:before,
      &:after {
        left: 0;
      }
    }
  }
  &:hover {
    cursor: pointer;
    .hover {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

.account-buttons {
	display: flex;
	justify-content: space-between;
}

.header-div .button_to input {
	background: #293340;
	color: white;
	padding: 10px;
	border: 2px solid transparent;
	transition: border 0.3s;
	font-size: 20px;
}

.header-div .button_to input:hover {
	border: 2px solid white;
	cursor: pointer;
}

.header-div .button_to input:active {
	background: white;
	color: black;
}
