.home-background {
	background-image: image_url('phone-notebook-laptop.jpeg');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 500px;
}

.home-section-1 {
	margin-left: 35px;
	background: rgba(0,0,0,0.6);
	max-width: 430px;
	color: white;
	font-family: sans-serif;
	text-align: center;
	padding: 36px;
	border: 2px solid white;
	border-radius: 15px;
	transition: background 0.3s;
	font-size: 20px;
}

.home-section-1:hover {
	background: rgba(0,0,0,1);
}

.home-h1 {
	font-size: 40px;
	font-weight: 500;
}

.home-p-1 {
	line-height: 1.3;
}

.home-arrow-1 {
	max-width: 150px;
	margin: 0 auto;
	padding: 10px;
	background: transparent;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid transparent;
	transition: border 0.3s;
}

.home-arrow-1:hover {
	cursor: pointer;
	border: 1px solid white;
}

.home-arrow-1:active {
	background: white;
	color: black;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
	margin-right: 5px;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

#home-middle {
	font-family: sans-serif;
	padding: 55px;
}

#home-middle > h2 {
	margin: 0 auto;
	width: 350px;
	font-size: 30px;
	padding-bottom: 20px;
}

.home-steps {
	display: flex;
	justify-content: space-around;
}

div[class^='home-step-'] {
  text-align: center;
}

.chevron.right {
	margin: auto 30px;
}

div[class^='home-step-'] > img {
	width: 150px;
}

div[class^='home-step-'] > p {
	line-height: 1.3;
}

.home-bottom {
	background: black;
	padding: 55px;
	color: white;
	font-family: sans-serif;
	text-align: center;
}

.home-bottom > p {
	font-size: 30px;
}

.gray-border {
	border: 1px solid gray;
}

.home-created-by {
	font-size: 12px;
}

.home-back-to-top {
	font-size: 18px;
}
