.new-project-div {
	margin: 30px 100px;
	font-family: sans-serif;
}

.h1 {
	font-size: 36px;
	margin: 10px 0;
}

.new-project-missing {
	text-align: left;
}

.new_project label, .edit_project label, .new_issue label, .edit_issue label {
	font-size: 14px;
	font-weight: bold;
}

.new_project #project_name, .new_project #project_description,
.edit_project #project_name, .edit_project #project_description,
.new_issue #issue_subject, .new_issue #issue_description,
.edit_issue #issue_subject, .edit_issue #issue_description, #vuejs textarea {
	width: 100%;
}

.new_project #project_description, .edit_project #project_description,
.new_issue #issue_description, .edit_issue #issue_description, #vuejs textarea {
	font-size: 18px;
	height: 8em;
}

.new_project input:last-child, .edit_project input:last-child,
.new_issue > input:last-child, .edit_issue > input:last-child, #vuejs > button {
	background: #293340;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	padding: 5px;
	margin: 10px 0;
}

.new_project input:last-child:hover, .edit_project input:last-child:hover,
.new_issue > input:last-child:hover, .edit_issue > input:last-child:hover,
#vuejs > button {
	background: #293340;
	filter: brightness(80%);
	cursor: pointer;
}

.new-project-div form:last-child input,
.a-project-buttons form:first-child input {
	background: white;
	border: 1px solid rgb(200,200,200);
	padding: 5px 10px;
	border-radius: 2px;
}

.new-project-div form:last-child input:hover,
.a-project-buttons form:first-child input:hover,
.a-project-buttons form:last-child input:hover {
	cursor: pointer;
	background: rgb(250,250,250);
}

.a-project-div {
	margin: 50px 200px;
	font-family: sans-serif;
}

.a-project-header {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.a-project-buttons {
	display: flex;
	justify-content: space-between;
}

.a-project-buttons form:first-child input {
	border: 1px solid rgb(100,100,100);
}

.a-project-buttons form:last-child input {
	color: red;
	background: white;
	border: 1px solid red;
	padding: 5px 10px;
	border-radius: 2px;
	margin-left: 2px;
}

.a-project-buttons form:last-child input:disabled {
	background: #dddddd;
	border: 1px solid #aaaaaa;
	color: #aaaaaa;
	cursor: auto;
}

.a-project-div hr {
	margin: 20px 0;
	color: rgb(250,250,250);
}

.a-project-description {
	font-size: 20px;
}

.paragraph {
	line-height: 1.3;
}
