<header class='<%= request.path == '/' ? '' : 'header-background' %>'>
	<div class="hover-div">
		<a class='logo hover hover-1' href='/'>Trackify</a>
	</div>
	<div class='header-div'>
		<% if logged_in? %>
		  <%= button_to "Log Out", sessions_path, method: :delete %>
		<% else %>
			<div class='account-buttons'>
				<%= button_to "Log In", login_path, method: :get %>
				<%= button_to "Sign Up", signup_path, method: :get %>
		  </div>
		<% end %>
	</div>
</header>
